/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Fondo gris más claro */
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease;
  animation: fade-in 0.5s ease-in-out; /* Agregamos animación de fade-in */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilos para el encabezado */
header {
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logo-container {
  margin-right: auto;
}

.logo img {
  max-width: 200px;
  height: auto;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 20px; /* Ajustamos el tamaño de las líneas del menú */
  height: 2px; /* Ajustamos la altura de las líneas del menú */
  background-color: #333;
  margin: 5px;
  transition: transform 0.3s ease;
}

nav {
  display: flex;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  font-size: large;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-list li a:hover,
.nav-list li a.active {
  color: #ff9800;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo img {
    max-width: 150px;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin-left: auto; /* Alinea el botón de menú al final de la derecha */
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1); /* Fondo sólido sin transparencia */
    position: absolute;
    top: 70px; /* Ajustamos la posición de la barra de navegación */
    right: 0;
    width: 100%;
    padding: 20px; /* Aumentar el padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: slide-down 0.3s ease; /* Agregamos animación de slide-down */
  }

  .nav-list.active {
    display: flex;
    justify-content: center; /* Centramos la barra de navegación */
    align-items: center;
    z-index: 100;
  }

  .line {
    width: 25px; /* Ajustamos el tamaño de las líneas del menú */
    height: 2px; /* Ajustamos la altura de las líneas del menú */
    background-color: #333;
    margin: 4px; /* Reducimos el margen entre las líneas */
    transition: transform 0.3s ease;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


.posts-container {
  max-width: 800px;
  margin: 20px auto; /* Margen arriba y abajo, centrado verticalmente */
  padding: 0 20px;
  margin-left: auto; /* Margen a la izquierda, centrado horizontalmente */
  margin-right: auto; /* Margen a la derecha, centrado horizontalmente */
}


/* Estilos para los posts */
.post {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-bottom: 20px;
  padding: 20px; /* Espacio interno */
}

.post-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px; /* Espacio entre encabezado y contenido */
}

.post-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Imagen redonda */
  margin-right: 10px;
}

.post-header h3 {
  margin: 0;
  font-size: 1.2em;
}

.post-content {
  padding: 10px 0; /* Espacio interno del contenido */
}

.post-content p {
  margin-bottom: 10px;
}

.post-footer {
  padding-top: 10px; /* Espacio entre contenido y pie de página */
  border-top: 1px solid #cccccc; /* Borde superior gris claro */
  display: flex;
  justify-content: space-between;
}

/* Estilos mejorados para los botones */
.post-footer button {
  background-color: #ff9800; /* Naranja */
  border: 1px solid #ff9800; /* Borde del mismo color */
  border-radius: 20px;
  padding: 8px 16px;
  color: #ffffff; /* Texto blanco */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.post-footer button:hover {
  background-color: #e68a00; /* Naranja más oscuro al pasar el cursor */
}
